@keyframes slow-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  
  .animateSlowBounce {
    animation: slow-bounce 1.5s ease-in-out infinite;
  }